@import "tailwindcss";
@config "../tailwind.config.js";



.material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
      }

       .masonry-grid {
        columns: 1;
      }
      @media (min-width: 640px) {
        .masonry-grid {
          columns: 2;
        }
      }
      @media (min-width: 1024px) {
        .masonry-grid {
          columns: 3;
        }
      }

      .form-input:focus {
        border-color: #6a4e39 !important;
        ring-color: #6a4e39 !important;
      }